.main-block {
	position: relative;
	&__title {
		display: block;
		width: 100%;
		max-width: 700px;
		font-size: 56px;
		font-weight: 700;
		line-height: 1.28;
		color: #fff;
	}
	&__slider {
		position: relative;
		display: flex;
		flex-direction: row;
	}
	&__slide {
		position: relative;
		display: block;
		width: 100vw;
		min-height: 1331px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
	}
	&__slide-inner {
		position: relative;
		display: block;
		padding-top: 480px;
	}
	&__slide-heading {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 300px;
	}
	&__slide-wrapper {
		position: relative;
		display: block;
		flex-shrink: 0;
		.btn--wallet {
			margin-bottom: 25px;
		}
	}
	&__btn-wallet-inner {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		span {
			display: block;
			margin-left: 20px;
		}
		img {
			display: block;
			width: 58px;
			height: 57px;
			object-fit: contain;
		}
	}
	&__btn-mining-inner {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		img {
			display: block;
			width: 62px;
			height: 51px;
			object-fit: contain;
			margin-right: 18px;
		}
	}
	&__text-mining-inner {
		position: relative;
		display: block;
	}
	&__about-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 70px;
	}
	&__about-title {
		display: block;
		text-align: center;
		line-height: 1.3;
		font-family: 'GothamPro', sans-serif;
		text-transform: uppercase;
		margin-bottom: 20px;
		span {
			display: block;
			font-size: 14px;
			font-weight: 700;
			color: #fff;
		}
		b {
			display: block;
			font-size: 24px;
			font-weight: 700;
			color: #4db4e4;
		}
	}
	&__about-toggle {
		position: relative;
		display: block;
		img {
			display: block;
			width: 19px;
			height: 11px;
		}
	}
}

@include for-size(mobile) {
	.main-block {
		&__slide {
			min-height: auto;
			background-size: auto 600px;
		}
		&__slide-inner {
			padding-top: 51px;
			padding-bottom: 60px;
		}
		&__title {
			font-size: 26px;
			margin-top: 115px;
			margin-bottom: 90px;
			max-width: 500px;
		}
		&__slide-heading {
			display: block;
			margin-bottom: 30px;
		}
		&__slide-wrapper .btn--wallet,
		&__slide-wrapper .btn--mining {
			width: 280px;
			margin: 0 auto;
		}
		&__slide-wrapper .btn--wallet {
			margin-bottom: 16px;
		}
		&__slide-wrapper .btn--wallet {
			padding-top: 8px;
			padding-bottom: 8px;
		}
		&__slide-wrapper .btn--mining {
			padding-top: 8px;
			padding-bottom: 8px;
			b {
				font-size: 18px;
			}
			span {
				font-size: 16px;
			}
		}
		&__btn-wallet-inner img {
			width: 46px;
			height: 46px;
		}
		&__btn-mining-inner img {
			width: 51px;
			height: 41px;
		}
		&__about-block {
			display: none;
		}
	}
}

@include for-size(tablet) {
	.main-block {
		&__title {
			font-size: 36px;
			max-width: 500px;
		}
		&__slide-inner {
			padding-top: 300px;
			padding-bottom: 120px;
		}
		&__slide {
			min-height: auto;
			background-size: auto 732px;
		}
		&__slide-heading {
			margin-bottom: 80px;
		}
		&__about-block {
			margin-bottom: 0;
		}
		&__slide-wrapper {
			.btn--wallet {
				width: 250px;
			}
			.btn--mining {
				width: 250px;
				b {
					font-size: 20px;
				}
				span {
					font-size: 16px;
				}
			} 
		}
		&__btn-wallet-inner {
			span {
				margin-left: 15px;
			}
		}
		&__btn-wallet-inner img {
			width: 38px;
			height: 37px;
		}
		&__btn-mining-inner img {
			width: 42px;
			height: 31px;
			margin-right: 13px;
		}
	}
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
	.main-block {
		&__title {
			font-size: 45px;
		}
		&__slide {
			min-height: 940px;
		}
		&__slide-inner {
			padding-top: 350px;
		}
		&__slide-heading {
			margin-bottom: 100px;
		}
	}
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
	.main-block {
		&__title {
			font-size: 50px;
		}
		&__slide {
			min-height: 1080px;
		}
		&__slide-inner {
			padding-top: 400px;
		}
		&__slide-heading {
			margin-bottom: 150px;
		}
	}
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
	.main-block {
		&__slide-inner {
			padding-top: 400px;
		}
		&__slide-heading {
			margin-bottom: 250px;
		}
	}
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
	.main-block {
		&__slide {
			min-height: 1180px;
		}
	}
}

@media screen and (min-width: 1800px) and (max-width: 1919px) {
	.main-block {
		&__slide-heading {
			margin-bottom: 350px;
		}
	}
}

@media screen and (min-width: 1920px) {
	.main-block {
		&__slide {
			background-size: 100% auto;
		}
	}
}