.page-footer {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	background-image: url('../img/bg-footer.jpg');
	background-repeat: no-repeat;
	&__top-part {
		position: relative;
		display: block;
		padding-top: 138px;
		padding-bottom: 130px;
	}
	&__nav-wrapper {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: 120px;
	}
	&__nav-block {
		position: relative;
		display: block;
	}
	&__nav-block ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: block;
	}
	&__nav-block ul li:not(:last-child) {
		margin-bottom: 15px;
	}
	&__nav-block ul li a {
		display: block;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		color: #5394ff;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
		&:active {
			color: #53c0ff;
		}
	}
	&__nav-title {
		display: block;
		font-size: 22px;
		line-height: 1.2;
		font-weight: 600;
		color: #fff;
		margin-bottom: 40px;
	}
	&__top-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-end;		
	}
	&__support-block {
		display: block;
		.btn {
			width: 100%;
			margin-bottom: 20px;
			&:active, &:focus {
				background: #4842b4;
			}
		}
	}
	&__support-wrapper {
		position: relative;
		display: block;
	}
	&__support-title {
		display: block;
		font-size: 22px;
		font-weight: 600;
		line-height: 1.2;
		color: #fff;
		margin-bottom: 40px;
	}
	&__support-photo {
		display: block;
		width: 146px;
		height: 146px;
		border-radius: 4px;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__codes-block {
		display: block;
		width: 100%;
		max-width: 580px;
	}
	&__codes-wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	&__codes-title {
		display: block;
		width: 100%;
		max-width: 50px;
		font-size: 18px;
		font-weight: 600;
		color: #fff;
		margin-right: 15px;
	}
	&__codes-inner {
		position: relative;
		display: block;
		width: 100%;
		max-width: 450px;
		flex-shrink: 0;
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 15px;
		background-color: #1c2374;
		border-radius: 4px;
		border: 1px solid #383f9e;
		margin-right: 15px;
	}
	&__code {
		display: block;
		font-size: 18px;
		font-weight: 400;
		color: #fff;
	}
	&__copylink {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 51px;
		height: 47px;
		border-radius: 4px;
		background: linear-gradient(to top, #564ae2, #2484ee);
		z-index: 1;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			pointer-events: none;
			border-radius: 4px;
			background: linear-gradient(to top, #2f97f0, #473dbe);
			z-index: -1;
			transition: all 0.3s ease-in-out;
		}
		&:hover::after {
			opacity: 1;
			pointer-events: all;
		}
		&:active, &:focus {
			background: #4842b4;
		}
	}
	&__contacts-title {
		display: block;
		font-size: 22px;
		font-weight: 600;
		color: #fff;
		line-height: 1.2;
		margin-bottom: 35px;
	}
	&__contacts-inner {
		display: block;
		margin-bottom: 35px;
	}
	&__contacts-mail {
		display: block;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.2;
		color: #fff;
	}
	&__contacts-mail a {
		display: inline-block;
		color: #fff;
		margin-left: 5px;
		transition: all 0.3s ease-in-out;
		&:hover, &:active, &:focus {
			color: darken(#5388ff, 15%);
			text-decoration: none;
		}
	}
	&__contacts-download {
		display: flex;
		flex-direction: row;
		.btn {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 164px;
			&:active, &:focus {
				background: #4842b4;
			}
		}
		.btn:not(:last-child) {
			margin-right: 20px;
		}
	}
	&__btn-wrapper {
		display: block;
		text-align: left;
		font-family: 'MyriadPro', sans-serif;
		color: #fff;
		margin-left: 10px;
		span {
			display: block;
			font-size: 12px;
			font-weight: 600;
		}
		b {
			display: block;
			font-size: 18px;
			font-weight: 600;
		}
	}
	&__contacts-block {
		position: relative;
		display: block;
	}
	&__contacts-social {
		display: block;
		width: 100%;
		max-width: 230px;
	}
	&__contacts-social ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	&__contacts-social ul li {
		width: 70px;
		margin-bottom: 10px;
	}
	&__contacts-social ul li:not(:nth-child(3n)) {
		margin-right: 10px;
	}
	&__contacts-social ul li a {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 44px;
		margin: 0 auto;
		border-radius: 50%;
		margin-bottom: 4px;
		background: linear-gradient(to top, #564ae2, #2484ee);
		z-index: 1;
		flex-shrink: 0;
		transition: all 0.3s ease-in-out;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			pointer-events: none;
			border-radius: 50%;
			background: linear-gradient(to top, #2f97f0, #473dbe);
			z-index: -1;
			transition: all 0.3s ease-in-out;
		}
		&:hover::after {
			opacity: 1;
			pointer-events: all;
		}
		&:active, &:focus {
			background: #4842b4;
		}
	}
	&__contacts-social ul li span {
		display: block;
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		line-height: 1.2;
	}
	&__bottom-part {
		position: relative;
		padding-top: 40px;
		padding-bottom: 50px;
		background: #fff;
	}
	&__copyright-block {
		display: flex;
		flex-direction: row;
		align-items: center;
		span {
			display: block;
			font-size: 18px;
			font-weight: 600;
			line-height: 1.2;
			color: #282828;
			margin-left: 20px;
		}
	}
	&__logo {
		display: block;
		width: 39px;
		height: 45px;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__bottom-nav {
		position: relative;
		display: block;
	}
	&__bottom-nav ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	&__bottom-nav ul li:not(:last-child) {
		margin-right: 50px;
	}
	&__bottom-nav ul li a {
		display: block;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.2;
		color: #5394ff;
		transition: all 0.3s ease-in-out;
		&:hover, &:active, &:focus {
			color: darken(#5394ff, 15%);
			text-decoration: none;
		}
	}
	&__bottom-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__nav-mobile-block {
		display: none;
	}
	&__nav-card {
		position: relative;
		display: block;
	}
	&__nav-heading {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		svg {
			fill: #5388ff;
		}
	}
	&__nav-card &__nav-title {
		display: block;
		font-size: 16px;
		font-weight: 600;
		color: #5388ff;
	}
	&__nav-body ul {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #12025d;
		margin-top: 6px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	&__nav-body ul li {
		width: 100%;
	}
	&__nav-body ul li a {
		position: relative;
		display: block;
		outline: 0;
		font-size: 16px;
		font-weight: 600;
		color: #5388ff;
		text-transform: none;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 40px;
		transition: all 0.3s ease-in-out;
		&:hover, &:active, &:focus {
			color: #fff;
		}
	}
	&__nav-collapse {
		display: none;
	}
	&__nav-card.active &__nav-collapse {
		display: block;
	}
	&__nav-card.active &__nav-title {
		color: #fff;
	}
	&__nav-card.active &__nav-heading svg {
		fill: #fff;
		transform: rotate(-180deg);
	}
	&__copyright-mobile-block {
		display: none;
	}
}

@include for-size(mobile) {
	.page-footer {
		background: none;
		background-color: #301a74;
		&__support-block {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			margin-bottom: 57px;
			.btn {
				width: 117px;
				padding-top: 10px;
				padding-bottom: 11px;
				margin-bottom: 0;
			}
		}
		&__support-title {
			font-size: 17px;
			margin-bottom: 20px;
		}
		&__support-photo {
			width: 118px;
			height: 118px;
			margin-right: 35px;
		}
		&__nav-wrapper {
			display: none;
		}
		&__nav-mobile-block {
			position: relative;
			display: block;
			padding-top: 34px;
			padding-bottom: 35px;
			margin-left: -15px;
			margin-right: -15px;
			background-color: #220b67;
		}
		&__top-part {
			padding-top: 0;
			padding-bottom: 38px;
		}
		&__top-content {
			justify-content: center;
		}
		&__nav-title {
			margin-bottom: 0;
		}
		&__nav-heading {
			padding-top: 12px;
			padding-bottom: 12px;
		}
		&__top-content {
			padding-top: 50px;
		}
		&__codes-block {
			margin-bottom: 50px;
		}
		&__codes-wrap {
			justify-content: center;
		}
		&__codes-title {
			font-size: 17px;
			margin-right: 0;
		}
		&__codes-inner {
			max-width: 174px;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 10px;
			padding-bottom: 11px;
		}
		&__code {
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
			word-wrap: nowrap;
			font-size: 15px;
		}
		&__copylink {
			width: 42px;
			height: 41px;
			flex-shrink: 0;
		}
		&__contacts-title {
			font-size: 23px;
			margin-bottom: 15px;
		}
		&__contacts-mail {
			font-size: 15px;
			line-height: 1.4;
		}
		&__contacts-inner {
			margin-bottom: 50px;
		}
		&__contacts-download .btn {
			width: 131px;
			padding-top: 5px;
			padding-bottom: 5px;
			&:first-child svg {
				width: 24px;
				height: 26px;
			}
			&:last-child svg {
				width: 20px;
			}
			&:not(:last-child) {
				margin-right: 16px;
			}
		}
		&__btn-wrapper {
			margin-left: 5px;
			b {
				font-size: 15px;
			}
			span {
				font-size: 10px;
				text-transform: uppercase;
			}
		}
		&__contacts-download {
			margin-bottom: 50px;
		}
		&__contacts-social {
			max-width: 100%;
		}
		&__contacts-social ul {
			justify-content: center;
		}
		&__contacts-social ul li {
			margin-bottom: 20px;
		}
		&__contacts-social ul li a {
			width: 36px;
			height: 36px;
			svg {
				width: 21px;
				height: 18px;
			}
			svg.icon--in {
				width: 35px;
				height: 35px;
			}
			svg.icon--facebook {
				width: 35px;
				height: 35px;
			}
			svg.icon--twitter {
				width: 35px;
				height: 35px;
			}
			svg.icon--reddit {
				width: 35px;
				height: 35px;
			}
			svg.icon--instagram {
				width: 35px;
				height: 35px;
			}
			svg.icon--youtube {
				width: 35px;
				height: 35px;
			}			
		}
		&__contacts-social ul li:not(:nth-child(3n)) {
			margin-right: 0;
		}
		&__codes-wrap:not(:last-child) {
			margin-bottom: 20px;
		}
		&__bottom-part {
			display: block;
			padding-top: 45px;
			padding-bottom: 0;
		}
		&__bottom-wrapper {
			display: block;
		}
		&__logo {
			display: none;
		}
		&__copyright-block {
			display: none;
		}
		&__bottom-nav {
			margin-bottom: 45px;
		}
		&__bottom-nav ul {
			display: block;
		}
		&__bottom-nav ul li:not(:last-child) {
			margin-bottom: 25px;
			margin-right: 0;
		}
		&__bottom-nav ul li a {
			font-size: 16px;
		}
		&__copyright-mobile-block {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding-top: 43px;
			padding-bottom: 45px;
			background-color: #f1f1f1;
			padding-left: 15px;
			padding-right: 15px;
			margin-left: -15px;
			margin-right: -15px;
			span {
				margin-left: 0;
				font-size: 15px;
				font-weight: 400;
				line-height: 1.35;
			}
		}
	}
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.page-footer {
		&__codes-inner {
			max-width: 280px;
		}
	}
}

@include for-size(tablet) {
	.page-footer {
		background-size: cover;
		&__nav-wrapper {
			justify-content: flex-start;
			padding-bottom: 60px;
		}
		&__nav-title {
			margin-bottom: 20px;
			font-size: 20px;
		}
		&__nav-block ul li a {
			font-size: 16px;
		}
		&__top-part {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		&__top-content {
			justify-content: center;
		}
		&__nav-block {
			margin-bottom: 50px;
			&:not(:last-child) {
				margin-right: 60px;
			}
		}
		&__support-block {
			margin-right: 20px;
		}
		&__codes-block {
			max-width: 550px;
		}
		&__codes-inner {
			max-width: 400px;
		}
		&__contacts-social {
			margin-top: 50px;
		}
		&__logo {
			flex-shrink: 0;
		}
		&__copyright-block {
			justify-content: center;
			margin-bottom: 15px;
			span {
				font-size: 14px;
				margin-left: 10px;
			}
		}
		&__bottom-part {
			display: block;
		}
		&__bottom-wrapper {
			display: block;
		}
		&__bottom-nav ul {
			justify-content: center;
		}
		&__bottom-nav ul li a {
			font-size: 16px;
		}
		&__bottom-nav ul li:not(:last-child) {
			margin-right: 20px;
		}
		&__contacts-block {
			margin-right: 50px;
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.page-footer {
		&__top-content {
			max-width: 992px;
			margin: 0 auto;
		}
		&__support-block {
			margin-right: 50px;
		}
	}
}

@include for-size(desktop) {
	.page-footer {
		background-size: cover;
		&__top-content {
			justify-content: center;
			align-items: center;
			max-width: 992px;
			margin: 0 auto;
		}
		&__support-block {
			margin-right: 100px;
		}
		&__contacts-block {
			margin-top: 60px;
			margin-right: 50px;
		}
		&__contacts-social {
			max-width: 460px;
		}
		&__title {
			font-size: 20px;
		}
		&__nav-wrapper {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__nav-block ul li a {
			font-size: 16px;
		}
	}
}

@media screen and (min-width: 1920px) {
	.page-footer {
		background-size: 100% auto;
	}
}


