.main-page-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f1ebe8;
}

.main-page-blocks {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-shrink: 0;
}

body.index-page .page-header {
	background: none;
}

body.scroll-top-active .page-header__scroll-up {
	opacity: 1;
	pointer-events: all;
}

.preloader-block {
	position: fixed;
	opacity: 0;
	pointer-events: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1000;
}

.preloader-block__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
}

.preloader-block__option {
	position: absolute;
	display: inline-block;
	top: 0;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	background: linear-gradient(to top, #564ae2, #2484ee);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

body.loading .preloader-block {
	opacity: 1;
	transition: 0.3s opacity;
}

body.loaded .preloader-block {
	display: none;
}

.page-header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	&__top-part {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-top: 15px;
		padding-bottom: 16px;
		background-color: #3c2875;
	}
	&__top-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 100%;
		max-width: 1590px;
		margin: 0 auto;
	}
	&__top-description {
		position: absolute;
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		color: #fff;
		text-decoration: underline;
		transition: all 0.3s ease-in-out;
		&:hover, &:active, &:focus {
			color: #60c5f4;
		}
	}
	&__bottom-part {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
		width: 100%;
		max-width: 1530px;
		margin: 0 auto;
	}
	&__toggle-language {
		outline: 0;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 176px;
		font-size: 16px;
		font-weight: 400;
		color: #fff;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		span {
			display: block;
			padding-right: 50px;
		}
		img {
			display: block;
			width: 13px;
			height: 7px;
		}
		&:hover, &:active, &:focus {
			color: #fff;
			text-decoration: none;
		}
	}
	&__toggle-language.active img {
		transform: rotate(-180deg);
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__toggle {
		outline: 0;
		position: relative;
		display: none;
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		transition: all 0.3s ease-in-out;
	}
	&__toggle span {
		position: absolute;
		top: 13px;
		left: 2px;
		width: 26px;
		height: 3px;
		border-radius: 2px;
		background-color: #fff;
		transition: all 0.3s ease-in-out;
		&::before, &::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 26px;
			height: 3px;
			border-radius: 2px;
			background-color: #fff;
			transition: all 0.3s ease-in-out;
		}
		&::before {
			top: -8px;
		}
		&::after {
			top: 8px;
		}
	}
	&__logo {
		display: block;
		width: 237px;
		height: 88px;
		flex-shrink: 0;
		img {
			display: block;
			width: 237px;
			height: 88px;
			object-fit: contain;
		}
	}
	&__nav {
		position: relative;
		display: block;
		margin-left: 52px;
	}
	&__nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		padding-top: 3px;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 600;
	}
	&__nav ul li:not(:last-child) {
		margin-right: 52px;
	}
	&__nav ul li a {
		position: relative;
		display: block;
		font-size: 18px;
		font-weight: 600;
		color: #60c5f4;
		text-shadow: 3px 0 24px rgba(0,0,0,0.35);
		transition: all 0.3s ease-in-out;
		&:hover, &:focus, &:active {
			color: #fff;
			text-decoration: none;
		}
	}
	&__nav .jq-dropdown {
		display: block !important;
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s ease-in-out;
	}
	&__nav ul li:hover &__nav-link--hover,
	&__nav ul li:hover .jq-dropdown {
		opacity: 1;
		pointer-events: all;
	}
	&__nav-link--hover {
		position: absolute;
		opacity: 0;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 175px;
		height: 275px;
	}
	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		transform: translateX(-100%);
		display: flex;
		flex-direction: column;
		pointer-events: none;
		transition: all .3s ease-in-out;
		background-color: #291173;
		transition: transform .2s cubic-bezier(.645,.045,.355,1);
		padding: 10;
		z-index: 200;
	}
	&__menu > * {
		flex-shrink: 0;
	}
	&__menu.active {
		opacity: 1;
		pointer-events: all;
		transform: translateX(0);
	}
	&__menu &__top-description {
		position: relative;
		top: 0;
		width: 100%;
		max-width: 100%;
		padding-top: 7px;
		padding-bottom: 9px;
		border-bottom: 1px solid #544386;
		background-color: #3c2875;
	}
	&__menu &__toggle {
		position: absolute;
		top: 83px;
		right: 20px;
		width: 20px;
		height: 20px;
		z-index: 10;
	}
	&__menu &__toggle span {
		width: 0;
		&::before, &::after {
			width: 19px;
			height: 2px;
			left: -1px;
		}
		&::before {
			top: -4px;
			transform: rotate(45deg);
		}
		&::after {
			top: -4px;
			transform: rotate(-45deg);
		}
	}
	&__menu-toggle-languages {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 84px;
		margin-top: 20px;
		margin-left: 20px;
		padding-top: 15px;
		padding-left: 16px;
		padding-right: 14px;
		padding-bottom: 9px;
		border-radius: 3px;
		background-color: #213087;
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		transition: all 0.3s ease-in-out;
		span {
			display: block;
			margin-right: 15px;
		}
		svg {
			fill: #fff;
		}
		&:hover, &:active, &:focus {
			text-decoration: none;
			color: #fff;
		}
	}
	&__menu-toggle-languages.active svg {
		transform: rotate(-180deg);
	}
	&__nav-block {
		position: relative;
		display: block;
		margin-top: 25px;
		margin-bottom: 28px;
	}
	&__nav-card {
		position: relative;
		display: block;
	}
	&__nav-heading {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 20px;
		padding-right: 20px;
		svg {
			fill: #5388ff;
		}
	}
	&__nav-title {
		display: block;
		font-size: 16px;
		font-weight: 600;
		color: #5388ff;
		transition: all 0.3s ease-in-out;
		&:hover, &:active, &:focus {
			color: #fff;
			text-decoration: none;
		}
	}
	&__menu &__nav-body ul {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #12025d;
		margin-top: 6px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	&__menu &__nav-body ul li {
		width: 100%;
	}
	&__menu &__nav-body ul li a {
		position: relative;
		display: block;
		outline: 0;
		font-size: 16px;
		font-weight: 600;
		color: #5388ff;
		text-transform: none;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 40px;
		transition: all 0.3s ease-in-out;
		&:hover, &:active, &:focus {
			color: #fff;
		}
	}
	&__menu .btn--explorer {
		width: 282px;
		margin: 0 auto;
		font-size: 16px;
		font-weight: 600;
		padding-top: 11px;
		padding-bottom: 11px;
	}
	&__nav-collapse {
		display: none;
	}
	&__nav-card.active &__nav-collapse {
		display: block;
	}
	&__nav-card.active &__nav-title {
		color: #fff;
	}
	&__nav-card.active &__nav-heading svg {
		fill: #fff;
		transform: rotate(-180deg);
	}
	&__scroll-up {
		opacity: 0;
		pointer-events: none;
		position: fixed;
		left: calc(100vw - 320px);
		bottom: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 59px;
		height: 59px;
		border-radius: 50%;
		background-color: #fff;
		border: 1px solid #3373ea;
		z-index: 120;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&.fixed {
			position: absolute;
			bottom: 80px;
		}
		svg {
			display: block;
			fill: #366fea;
			transform: rotate(180deg);
			transition: all 0.3s ease-in-out;
		}
		&:hover, &:active, &:focus {
			background-color: #366fea;
		}
		&:hover svg,
		&:active svg,
		&:focus svg {
			fill: #fff;
		}
	}
}

@include for-size(mobile) {
	body.scrolled.menu-fixed .page-header__bottom-part {
		position: fixed;
		top: 0;
		left: 0;
		transform: translateY(0);
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #3c2875;
	}
	.page-header {
		&__toggle {
			display: block;
		}
		&__nav {
			display: none;
		}
		&__wrapper .btn--explorer {
			display: none;
		}
		&__toggle-language {
			display: none;
		}
		&__top-part {
			padding-top: 25px;
			padding-bottom: 26px;
		}
		&__bottom-part {
			width: 100%;
			padding-top: 15px;
			padding-left: 15px;
			padding-right: 15px;
			max-width: 100%;			
		}
		&__top-description {
			top: 10px;
			width: 100%;
			max-width: 245px;
			font-size: 15px;
		}
		&__logo {
			width: 140px;
			height: 52px;
			img {
				width: 140px;
				height: 52px;
			}
		}
		&__scroll-up {
			display: none;
		}
		&__top-description {
			line-height: 1;
		}
		&__toggle span {
			top: 15px;
			left: -1px;
		}
	}
}

@include for-size(tablet) {
	.page-header {
		&__toggle {
			display: block;
		}
		&__nav {
			display: none;
		}
		&__top-description {
			top: 16px;
			font-size: 14px;
		}
		&__wrapper .btn--explorer {
			margin-left: auto;
			margin-right: 30px;
			padding-top: 12px;
			padding-bottom: 13px;
			font-size: 16px;
		}
		&__scroll-up {
			display: none;
		}
		&__bottom-part {
			max-width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

@include for-size(desktop) {
	.page-header {
		&__bottom-part {
			max-width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
		&__nav ul li:not(:last-child) {
			margin-right: 25px;
		}
		&__nav ul li a {
			font-size: 16px;
		}
		&__scroll-up {
			left: calc(100vw - 80px);
		}
	}
}

@media screen and (min-width: 1440px) and (max-width: 1560px) {
	.page-header {
		&__bottom-part {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__scroll-up {
			left: calc(100vw - 85px);
		}
	}
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
	.page-header {
		&__scroll-up {
			left: calc(100vw - 160px);
		}
	}
}






