#banners_slider .swiper-slide {
  width: 1200px !important;
  margin: 0 60px;
}

.banner-button-prev, .banner-button-next {
  position: absolute;
  top: 255px;
  left: 265px;
  bottom: auto;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background: url('../img/arrow-left.svg'), linear-gradient(to top, #564ae2, #2484ee);
  background-repeat: no-repeat;
  background-position: center center;
  outline: none;
  z-index: 100;
  &:hover {
    background: url('../img/arrow-left.svg'), linear-gradient(to top, #2f97f0, #473dbe);
    background-repeat: no-repeat;
    background-position: center center;
  }
  &:active, &:focus {
    background: url('../img/arrow-left.svg'), #4842b4;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.banner-button-next {
  left: auto;
  right: 265px;
  background-image: url('../img/arrow-right.svg'), linear-gradient(to top, #564ae2, #2484ee);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 100;
  &:hover {
    background: url('../img/arrow-right.svg'), linear-gradient(to top, #2f97f0, #473dbe);
    background-repeat: no-repeat;
    background-position: center center;
  }
  &:active, &:focus {
    background: url('../img/arrow-right.svg'), #4842b4;
    background-repeat: no-repeat;
    background-position: center center;
  } 
}

#jq-dropdown-1.jq-dropdown .jq-dropdown-menu,
#jq-dropdown-2.jq-dropdown .jq-dropdown-menu,
#jq-dropdown-3.jq-dropdown .jq-dropdown-menu,
#jq-dropdown-4.jq-dropdown .jq-dropdown-menu,
#jq-dropdown-5.jq-dropdown .jq-dropdown-menu,
#jq-dropdown-6.jq-dropdown .jq-dropdown-menu {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  max-width: 252px;
  background-color: #212663;
  padding: 20px 0 20px 0;
}

#jq-dropdown-1.jq-dropdown .jq-dropdown-menu a,
#jq-dropdown-2.jq-dropdown .jq-dropdown-menu a,
#jq-dropdown-3.jq-dropdown .jq-dropdown-menu a,
#jq-dropdown-4.jq-dropdown .jq-dropdown-menu a,
#jq-dropdown-5.jq-dropdown .jq-dropdown-menu a,
#jq-dropdown-6.jq-dropdown .jq-dropdown-menu a {
  outline: 0;
  display: block;
  color: #60c5f4;
  text-shadow: 3px 0 24px rgba(0,0,0,0.35);
  background: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  &:hover, &:active, &:focus {
    background-color: #2f357b;
  }
}

#jq-dropdown-1.jq-dropdown.jq-dropdown-tip:before,
#jq-dropdown-1.jq-dropdown.jq-dropdown-tip:after,
#jq-dropdown-2.jq-dropdown.jq-dropdown-tip:before,
#jq-dropdown-2.jq-dropdown.jq-dropdown-tip:after,
#jq-dropdown-3.jq-dropdown.jq-dropdown-tip:before,
#jq-dropdown-3.jq-dropdown.jq-dropdown-tip:after,
#jq-dropdown-4.jq-dropdown.jq-dropdown-tip:before,
#jq-dropdown-4.jq-dropdown.jq-dropdown-tip:after,
#jq-dropdown-5.jq-dropdown.jq-dropdown-tip:before,
#jq-dropdown-5.jq-dropdown.jq-dropdown-tip:after,
#jq-dropdown-6.jq-dropdown.jq-dropdown-tip:before,
#jq-dropdown-6.jq-dropdown.jq-dropdown-tip:after {
  border-bottom-color: #212663;
}

#jq-dropdown-7.jq-dropdown .jq-dropdown-menu {
  display: block;
  width: 176px;
  border: 0;
  border-radius: 0;
  background-color: #3c2875;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
  margin-left: -16px;
}

#jq-dropdown-7.jq-dropdown .jq-dropdown-menu a {
  outline: 0;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #5588fe;
  text-shadow: 3px 0 24px rgba(0,0,0,0.35);
  background: none;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  &:hover, &:active, &:focus {
    color: #fff;
    text-decoration: none;
  }
}

#jq-dropdown-7.jq-dropdown.jq-dropdown-tip:before,
#jq-dropdown-7.jq-dropdown.jq-dropdown-tip:after {
  display: none;
}

#jq-dropdown-8.jq-dropdown .jq-dropdown-menu {
  display: block;
  width: 84px;
  min-width: auto;
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #213087;
  padding: 0;
  margin-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
}

#jq-dropdown-8.jq-dropdown .jq-dropdown-menu a {
  outline: 0;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #5388ff;
  text-shadow: 3px 0 24px rgba(0,0,0,0.35);
  background: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 30px;
  &:hover, &:active, &:focus {
    color: #fff;
    text-decoration: none;
    background-color: #2f357b;
  }
}

#jq-dropdown-8.jq-dropdown.jq-dropdown-tip:before,
#jq-dropdown-8.jq-dropdown.jq-dropdown-tip:after {
  display: none;
}