.shard-block {
	padding-top: 265px;
	padding-bottom: 150px;
	overflow: hidden;
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__content-block {
		position: relative;
		display: block;
		width: 100%;
		max-width: 570px;
	}
	&__section-title {
		position: absolute;
		top: 170px;
		bottom: auto;
		width: 9px;
		left: -150px;
		font-size: 24px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		color: #8e71e0;
		b {
			position: relative;
			display: block;
			left: 12px;
			bottom: 10px;
			transform: rotate(-90deg);
		}
		b span {
			position: relative;
			top: -25px;
			left: 67px;
			display: block;
			transform: rotate(0);
		}
		span {
			position: relative;
			display: block;
			bottom: 60px;
			transform: rotate(-90deg);
		}
		img {
			display: block;
			width: 9px;
			height: 299px;
		}
	}
	&__title {
		display: block;
		width: 100%;
		max-width: 500px;
		font-size: 40px;
		font-weight: 700;
		color: #fff;
		margin-bottom: 40px;
	}
	&__text {
		display: block;
		font-size: 20px;
		font-weight: 400;
		color: #fff;
		line-height: 1.4;
		p:not(:last-child) {
			margin-bottom: 35px;
		}
	}
	&__honeycombs-block {
		position: relative;
		display: block;
		width: 100%;
		max-width: 808px;
		z-index: 1;
	}
	&__honeycombs-photo {
		position: absolute;
		top: -194px;
		right: -34px;
		display: block;
		width: 808px;
		height: 669px;
		z-index: -1;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__honeycombs-title {
		position: absolute;
		top: auto;
		left: auto;
		right: -13px;
		bottom: 182px;
		width: 9px;
		font-size: 48px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		color: #8e71e0;
		b {
			position: relative;
			display: block;
			left: auto;
			right: 50px;
			bottom: 80px;
			transform: rotate(90deg);
		}
		b span {
			position: relative;
			top: -48px;
			left: 135px;
			display: block;
			transform: rotate(0);
		}
		p {
			position: relative;
			top: -134px;
			left: -71px;
			display: block;
			transform: rotate(90deg);
			font-size: 20px;
			font-weight: 600;
			text-transform: none;
		}
		p span {
			position: relative;
			top: -20px;
			left: 85px;
			display: block;
			bottom: 70px;
			transform: rotate(0);
		}
	}
	&__honeycombs-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: auto;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&__honeycombs-option {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		font-size: 24px;
		font-weight: 600;
		color: #fff;
		&.first {
			top: 70px;
			left: 155px;
			color: rgba(255,255,255,0.4);
		}
		&.second {
			top: 7px;
			left: 392px;
		}
		&.third {
			top: 44px;
			left: 530px;
		}
		&.fourth {
			top: 106px;
			left: 294px;
		}
		&.fifth {
			top: 183px;
			left: 596px;
		}
		&.sixth {
			top: 246px;
			left: 328px;
		}
		&.seventh {
			top: 282px;
			left: 465px;
		}
		&.eighth {
			top: 318px;
			left: 602px;
			color: rgba(255,255,255,0.4);
		}
	}
}

@include for-size(mobile) {
	.shard-block {
		padding-top: 45px;
		padding-bottom: 45px;
		overflow: hidden;
		&__section-title {
			display: none;
		}
		&__content-block {
			max-width: 450px;
		}
		&__title {
			max-width: 100%;
			font-size: 25px;
			margin-bottom: 390px;
		}
		&__text {
			font-size: 15px;
			line-height: 1.3;
			p {
				margin-bottom: 0;
			}
			p:not(:last-child) {
				margin-bottom: 17px;
			}
		}
		&__honeycombs-block {
			position: absolute;
			top: 25px;
			left: 0;
			width: 100%;
			height: 240px;
			display: block;
			max-width: 350px;
		}
		&__honeycombs-photo {
			top: -34px;
			width: 534px;
			height: auto;
			right: -140px;
			z-index: 1;
		}
		&__honeycombs-inner {
			position: relative;
			width: 100%;
			height: 100%;
			left: auto;
			right: 0;
			z-index: 10;
		}		
		&__honeycombs-title {
			font-size: 25px;
			z-index: 10;
			bottom: 100px;
			right: auto;
			left: 0;
			bottom: -100px;
			color: #603cae;
			b {
				left: 20px;
				right: auto;
				bottom: -74px;
				transform: rotate(-90deg);
			}
			b span {
				top: -24px;
				left: 69px;
			}
			p {
				top: 30px;
				left: 35px;
				font-size: 16px;
				transform: rotate(-90deg);
			}
			p span {
				left: 68px;
				top: -16px;
			}
		}
		&__honeycombs-option {
			font-size: 15px;
			&.first {
				top: 97px;
				left: auto;
				right: 80px;
			}
			&.second {
				display: none;
			}
			&.third {
				top: 125px;
				left: auto;
				right: -8px;
			}
			&.fourth {
				top: 166px;
				left: auto;
				right: 150px;
			}
			&.fifth {
				top: 261px;
				left: auto;
				right: 150px;
				font-size: 16px;
			}
			&.sixth {
				top: 214px;
				left: auto;
				right: -40px;
			}
			&.seventh {
				top: 284px;
				left: auto;
				right: 35px;
			}
			&.eighth {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.shard-block {
		&__content-block {
			max-width: 100%;
		}
	}
}

@include for-size(tablet) {
	.shard-block {
		padding-top: 150px;
		padding-bottom: 75px;
		&__section-title {
			display: none;
		}		
		&__content-block {
			max-width: 450px;
		}
		&__title {
			max-width: 450px;
			font-size: 34px;
		}
		&__text {
			font-size: 16px;
			p {
				margin-bottom: 20px;
			}
		}
		&__honeycombs-photo {
			width: 600px;
		}
		&__honeycombs-title {
			font-size: 24px;
			z-index: 10;
			bottom: 100px;
			b {
				right: 40px;
			}
			b span {
				top: -24px;
				left: 75px;
			}
			p {
				top: -120px;
				left: -65px;
			}
		}
		&__honeycombs-option {
			font-size: 16px;
			&.first {
				top: 5px;
				left: auto;
				right: 395px;
			}
			&.second {
				left: auto;
				right: 290px;
				top: 30px;
			}
			&.third {
				top: 80px;
				left: auto;
				right: 85px;
			}
			&.fourth {
				top: -45px;
				left: auto;
				right: 215px;
			}
			&.fifth {
				top: 135px;
				left: auto;
				right: 295px;
			}
			&.sixth {
				top: 160px;
				left: auto;
				right: 165px;
			}
			&.seventh {
				top: -20px;
				left: auto;
				right: 115px;
			}
			&.eighth {
				top: 190px;
				left: auto;
				right: 60px;
			}
		}
	}
}

@include for-size(desktop) {
	.shard-block {
		&__section-title {
			display: none;
		}
		&__content-block {
			max-width: 500px;
		}
		&__wrapper {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__title {
			max-width: 500px;
		}
		&__text {
			font-size: 16px;
			p {
				margin-bottom: 20px;
			}
		}
		&__honeycombs-inner {
			left: 0;
		}
		&__honeycombs-option {
			font-size: 24px;
			&.first {
				top: 70px;
				left: auto;
				right: 535px;
			}
			&.second {
				left: auto;
				right: 300px;
				top: 0;
			}
			&.third {
				top: 40px;
				left: auto;
				right: 160px;
			}
			&.fourth {
				top: 110px;
				left: auto;
				right: 400px;
			}
			&.fifth {
				top: 250px;
				left: auto;
				right: 410px;
			}
			&.sixth {
				top: 180px;
				left: auto;
				right: 120px;
			}
			&.seventh {
				top: 280px;
				left: auto;
				right: 220px;
			}
			&.eighth {
				top: 320px;
				left: auto;
				right: 90px;
			}
		}
	}
}