<footer class="page-footer">
	<div class="page-footer__top-part">
		<div class="page-footer__nav-wrapper">
			<div class="page-footer__nav-block">
				<div class="page-footer__nav-title">Technology</div>
				<ul>
					<li><a href="javascript:;">Blockchain</a></li>
					<li><a href="javascript:;">Sharding</a></li>
					<li><a href="javascript:;">TERAhash</a></li>
					<li><a href="javascript:;">Network Map</a></li>
					<li><a href="javascript:;">Explorer</a></li>
				</ul>
			</div>
			<div class="page-footer__nav-block">
				<div class="page-footer__nav-title">Documents</div>
				<ul>
					<li><a href="javascript:;">Tech Specifications</a></li>
					<li><a href="javascript:;">Whitepaper</a></li>
					<li><a href="javascript:;">Onepage</a></li>
					<li><a href="javascript:;">Roadmap</a></li>
					<li><a href="javascript:;">DApp paper</a></li>
					<li><a href="javascript:;">Constants</a></li>
				</ul>
			</div>
			<div class="page-footer__nav-block">
				<div class="page-footer__nav-title">Get Forsa</div>
				<ul>
					<li><a href="javascript:;">Mining</a></li>
					<li><a href="javascript:;">Full node</a></li>
					<li><a href="javascript:;">Web wallet</a></li>
					<li><a href="javascript:;">Android</a></li>
					<li><a href="javascript:;">iOS</a></li>
					<li><a href="javascript:;">Exchanges</a></li>
				</ul>
			</div>
			<div class="page-footer__nav-block">
				<div class="page-footer__nav-title">Developers</div>
				<ul>
					<li><a href="javascript:;">Source code</a></li>
					<li><a href="javascript:;">Dapps IDE</a></li>
					<li><a href="javascript:;">Api for services</a></li>
					<li><a href="javascript:;">Api for exchanges</a></li>
					<li><a href="javascript:;">Grants</a></li>
					<li><a href="javascript:;">Constants</a></li>
				</ul>
			</div>
			<div class="page-footer__nav-block">
				<div class="page-footer__nav-title">Foundation</div>
				<ul>
					<li><a href="javascript:;">Base info</a></li>
					<li><a href="javascript:;">Team</a></li>
					<li><a href="javascript:;">Partners</a></li>
					<li><a href="javascript:;">For Investors</a></li>
					<li><a href="javascript:;">Vacancies</a></li>
				</ul>
			</div>
			<div class="page-footer__nav-block">
				<div class="page-footer__nav-title">Forsa on web</div>
				<ul>
					<li><a href="javascript:;">CoinMarketCap</a></li>
					<li><a href="javascript:;">CoinGecko</a></li>
					<li><a href="javascript:;">Blockfolio</a></li>
					<li><a href="javascript:;">CoinCalendar</a></li>
					<li><a href="javascript:;">CoinMarketCal</a></li>
				</ul>
			</div>
			<div class="page-footer__nav-block">
				<div class="page-footer__nav-title">HELP</div>
				<ul>
					<li><a href="javascript:;">FAQ</a></li>
					<li><a href="javascript:;">User Guide</a></li>
					<li><a href="javascript:;">Ask question</a></li>
					<li><a href="javascript:;">Discord Support</a></li>
				</ul>
			</div>
		</div>
		<div class="page-footer__nav-mobile-block">
			<div class="page-footer__nav-card">
				<div class="page-footer__nav-heading">
					<div class="page-footer__nav-title">Technology</div>
					<svg width="11" height="6">
						<use xlink:href="#language_arrow"></use>
					</svg>
				</div>
				<div class="page-footer__nav-collapse">
					<div class="page-footer__nav-body">
						<ul>
							<li><a href="javascript:;">Blockchain</a></li>
							<li><a href="javascript:;">Sharding</a></li>
							<li><a href="javascript:;">TERAhash</a></li>
							<li><a href="javascript:;">Network Map</a></li>
							<li><a href="javascript:;">Explorer</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-footer__nav-card">
				<div class="page-footer__nav-heading">
					<div class="page-footer__nav-title">Documents</div>
					<svg width="11" height="6">
						<use xlink:href="#language_arrow"></use>
					</svg>
				</div>
				<div class="page-footer__nav-collapse">
					<div class="page-footer__nav-body">
						<ul>
							<li><a href="javascript:;">Tech Specifications</a></li>
							<li><a href="javascript:;">Whitepaper</a></li>
							<li><a href="javascript:;">Onepage</a></li>
							<li><a href="javascript:;">Roadmap</a></li>
							<li><a href="javascript:;">DApp paper</a></li>
							<li><a href="javascript:;">Constants</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-footer__nav-card">
				<div class="page-footer__nav-heading">
					<div class="page-footer__nav-title">Get Forsa</div>
					<svg width="11" height="6">
						<use xlink:href="#language_arrow"></use>
					</svg>
				</div>
				<div class="page-footer__nav-collapse">
					<div class="page-footer__nav-body">
						<ul>
							<li><a href="javascript:;">Mining</a></li>
							<li><a href="javascript:;">Full node</a></li>
							<li><a href="javascript:;">Web wallet</a></li>
							<li><a href="javascript:;">Android</a></li>
							<li><a href="javascript:;">iOS</a></li>
							<li><a href="javascript:;">Exchanges</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-footer__nav-card">
				<div class="page-footer__nav-heading">
					<div class="page-footer__nav-title">Developers</div>
					<svg width="11" height="6">
						<use xlink:href="#language_arrow"></use>
					</svg>
				</div>
				<div class="page-footer__nav-collapse">
					<div class="page-footer__nav-body">
						<ul>
							<li><a href="javascript:;">Source code</a></li>
							<li><a href="javascript:;">Dapps IDE</a></li>
							<li><a href="javascript:;">Api for services</a></li>
							<li><a href="javascript:;">Api for exchanges</a></li>
							<li><a href="javascript:;">Grants</a></li>
							<li><a href="javascript:;">Constants</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-footer__nav-card">
				<div class="page-footer__nav-heading">
					<div class="page-footer__nav-title">Foundation</div>
					<svg width="11" height="6">
						<use xlink:href="#language_arrow"></use>
					</svg>
				</div>
				<div class="page-footer__nav-collapse">
					<div class="page-footer__nav-body">
						<ul>
							<li><a href="javascript:;">Base info</a></li>
							<li><a href="javascript:;">Team</a></li>
							<li><a href="javascript:;">Partners</a></li>
							<li><a href="javascript:;">For Investors</a></li>
							<li><a href="javascript:;">Vacancies</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-footer__nav-card">
				<div class="page-footer__nav-heading">
					<div class="page-footer__nav-title">Forsa on web</div>
					<svg width="11" height="6">
						<use xlink:href="#language_arrow"></use>
					</svg>
				</div>
				<div class="page-footer__nav-collapse">
					<div class="page-footer__nav-body">
						<ul>
							<li><a href="javascript:;">CoinMarketCap</a></li>
							<li><a href="javascript:;">CoinGecko</a></li>
							<li><a href="javascript:;">Blockfolio</a></li>
							<li><a href="javascript:;">CoinCalendar</a></li>
							<li><a href="javascript:;">CoinMarketCal</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-footer__nav-card">
				<div class="page-footer__nav-heading">
					<div class="page-footer__nav-title">HELP</div>
					<svg width="11" height="6">
						<use xlink:href="#language_arrow"></use>
					</svg>
				</div>
				<div class="page-footer__nav-collapse">
					<div class="page-footer__nav-body">
						<ul>
							<li><a href="javascript:;">FAQ</a></li>
							<li><a href="javascript:;">User Guide</a></li>
							<li><a href="javascript:;">Ask question</a></li>
							<li><a href="javascript:;">Discord Support</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="page-footer__top-content">
			<div class="page-footer__support-block">
				<div class="page-footer__support-wrapper">
					<div class="page-footer__support-title">Support Forsa</div>
					<a href="javascript:;" class="btn">Support</a>
				</div>
				<a href="javascript;;" class="page-footer__support-photo"><img src="img/captcha-photo.png" alt=""></a>
			</div>
			<div class="page-footer__codes-block">
				<div class="page-footer__codes-wrap">
					<div class="page-footer__codes-title">BTC:</div>
					<div class="page-footer__codes-inner">
						<div class="page-footer__code">3CMCRgEm8HVz3DrWaCCid3vAANE42jcEv9</div>
					</div>
					<a href="javascript:;" class="page-footer__copylink tooltip" title="Copied">
						<svg width="20" height="24">
							<use xlink:href="#copylink"></use>
						</svg>
					</a>
				</div>
				<div class="page-footer__codes-wrap">
					<div class="page-footer__codes-title">LTC:</div>
					<div class="page-footer__codes-inner">
						<div class="page-footer__code">LTdsVS8VDw6syvfQADdhf2PHAm3rMGJvPX</div>
					</div>
					<a href="javascript:;" class="page-footer__copylink tooltip" title="Copied">
						<svg width="20" height="24">
							<use xlink:href="#copylink"></use>
						</svg>
					</a>
				</div>
				<div class="page-footer__codes-wrap">
					<div class="page-footer__codes-title">ETH:</div>
					<div class="page-footer__codes-inner">
						<div class="page-footer__code">0x0074709077B8AE5a245E4ED161C971Dm3</div>
					</div>
					<a href="javascript:;" class="page-footer__copylink tooltip" title="Copied">
						<svg width="20" height="24">
							<use xlink:href="#copylink"></use>
						</svg>
					</a>
				</div>
				<div class="page-footer__codes-wrap">
					<div class="page-footer__codes-title">BCH:</div>
					<div class="page-footer__codes-inner">
						<div class="page-footer__code">1LVXG4Z4oF6TrJfmUfSuLX8nqb8c5eCwha8A</div>
					</div>
					<a href="javascript:;" class="page-footer__copylink tooltip" title="Copied">
						<svg width="20" height="24">
							<use xlink:href="#copylink"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="page-footer__contacts-block">
				<div class="page-footer__contacts-title">Contact Us</div>
				<div class="page-footer__contacts-inner">
					<div class="page-footer__contacts-mail"><span>General:</span><a href="mailto:info@forsa.io">info@forsa.io</a></div>
					<div class="page-footer__contacts-mail"><span>Feedback:</span><a href="mailto:feedback@forsa.io">feedback@forsa.io</a></div>
					<div class="page-footer__contacts-mail"><span>Media Inquiries:</span><a href="mailto:press@forsa.io">press@forsa.io</a></div>
					<div class="page-footer__contacts-mail"><span>Customer Service:</span><a href="mailto:service@forsa.io">service@forsa.io</a></div>
					<div class="page-footer__contacts-mail"><span>Dev. Support:</span><a href="mailto:developers@forsa.io">developers@forsa.io</a></div>
				</div>
				<div class="page-footer__contacts-download">
					<a href="javascript:;" class="btn"><svg width="30" height="32"><use xlink:href="#google_play"></use></svg><div class="page-footer__btn-wrapper"><span>Доступно в</span><b>Google Play</b></div></a>
					<a href="javascript:;" class="btn"><svg width="26" height="31"><use xlink:href="#apple"></use></svg><div class="page-footer__btn-wrapper"><span>Загрузите в</span><b>App Store</b></div></a>
				</div>
			</div>
			<div class="page-footer__contacts-social">
				<ul>
					<li>
						<a href="javascript:;"><svg width="26" height="22"><use xlink:href="#telegram"></use></svg></a>
						<span>Telegram</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="50" height="50" class="icon--in"><use xlink:href="#in"></use></svg></a>
						<span>LinkedIn</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="50" height="50" class="icon--facebook"><use xlink:href="#facebook"></use></svg></a>
						<span>Facebook</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="29" height="23"><use xlink:href="#discord"></use></svg></a>
						<span>Discord</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="21" height="30"><use xlink:href="#bitcoin"></use></svg></a>
						<span>Bitcointalk</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="50" height="50" class="icon--twitter"><use xlink:href="#twitter"></use></svg></a>
						<span>Twitter</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="27" height="22"><use xlink:href="#medium"></use></svg></a>
						<span>Medium</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="50" height="50" class="icon--reddit"><use xlink:href="#reddit"></use></svg></a>
						<span>Reddit</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="27" height="31"><use xlink:href="#tiktok"></use></svg></a>
							<span>TikTok</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="30" height="25"><use xlink:href="#wechat"></use></svg></a>
						<span>WeChat</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="50" height="50" class="icon--instagram"><use xlink:href="#instagram"></use></svg></a>
						<span>Instagram</span>
					</li>
					<li>
						<a href="javascript:;"><svg width="50" height="50" class="icon--youtube"><use xlink:href="#youtube"></use></svg></a>
						<span>YouTube</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="page-footer__bottom-part">
		<div class="page-footer__bottom-wrapper">
			<div class="page-footer__copyright-block">
				<div class="page-footer__logo"><img src="img/logo-footer.png" alt=""></div>
				<span>Copyright © 2020 Forsa.io. All rights reserved</span>
			</div>
			<div class="page-footer__bottom-nav">
				<ul>
					<li><a href="javascript:;">Terms of Use</a></li>
					<li><a href="javascript:;">Privacy Policy</a></li>
					<li><a href="javascript:;">Cookies Policy</a></li>
					<li><a href="javascript:;">Brand Assets</a></li>
				</ul>
			</div>
			<div class="page-footer__copyright-mobile-block">
				<span>Copyright © 2020 Forsa.io. All rights reserved</span>
			</div>
		</div>
	</div>
</footer>