<header class="page-header">
	<div class="page-header__top-part">
		<div class="page-header__top-wrapper">
			<a href="javascript:;" class="page-header__top-description">Forsa will take part in the Blockchain Life 2020 conference</a>
			<a href="javascript:;" class="page-header__toggle-language" data-jq-dropdown="#jq-dropdown-7"><span>English</span><img src="img/header-arrow.png" alt=""></a>
			<div id="jq-dropdown-7" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right">
				<div class="jq-dropdown-menu">
					<a href="javascript:;">Japanese</a>
					<a href="javascript:;">French</a>
					<a href="javascript:;">Spanish</a>
					<a href="javascript:;">Indonesian</a>
					<a href="javascript:;">Russian</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header__bottom-part">
		<div class="page-header__menu" id="header-menu">
			<a href="javascript:;" id="menu-toggle-active" class="page-header__toggle"><span></span></a>
			<div class="page-header__top-description">Forsa will take part in the Blockchain <br> Life 2020 conference</div>
			<a href="javascript:;" class="page-header__menu-toggle-languages" data-jq-dropdown="#jq-dropdown-8">
				<span>Eng</span>
				<svg width="11" height="6">
					<use xlink:href="#language_arrow"></use>
				</svg>
			</a>
			<div id="jq-dropdown-8" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-left">
				<div class="jq-dropdown-menu">
					<a href="javascript:;">Rus</a>
					<a href="javascript:;">Fra</a>
					<a href="javascript:;">Por</a>
					<a href="javascript:;">Ger</a>
				</div>
			</div>
			<div class="page-header__nav-block">
				<div class="page-header__nav-card">
					<div class="page-header__nav-heading">
						<div class="page-header__nav-title">Technology</div>
						<svg width="11" height="6">
							<use xlink:href="#language_arrow"></use>
						</svg>
					</div>
					<div class="page-header__nav-collapse">
						<div class="page-header__nav-body">
							<ul>
								<li><a href="javascript:;">Blockchain</a></li>
								<li><a href="javascript:;">Sharding</a></li>
								<li><a href="javascript:;">TERAhash</a></li>
								<li><a href="javascript:;">Network Map</a></li>
								<li><a href="javascript:;">Explorer</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="page-header__nav-card">
					<div class="page-header__nav-heading">
						<div class="page-header__nav-title">Documents</div>
						<svg width="11" height="6">
							<use xlink:href="#language_arrow"></use>
						</svg>
					</div>
					<div class="page-header__nav-collapse">
						<div class="page-header__nav-body">
							<ul>
								<li><a href="javascript:;">Technical Specifications</a></li>
								<li><a href="javascript:;">Whitepaper</a></li>
								<li><a href="javascript:;">Onepage</a></li>
								<li><a href="javascript:;">Roadmap</a></li>
								<li><a href="javascript:;">DApp paper</a></li>
								<li><a href="javascript:;">Constants</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="page-header__nav-card">
					<div class="page-header__nav-heading">
						<div class="page-header__nav-title">Get Forsa</div>
						<svg width="11" height="6">
							<use xlink:href="#language_arrow"></use>
						</svg>
					</div>
					<div class="page-header__nav-collapse">
						<div class="page-header__nav-body">
							<ul>
								<li><a href="javascript:;">Mining</a></li>
								<li><a href="javascript:;">Full mode</a></li>
								<li><a href="javascript:;">Web wallet</a></li>
								<li><a href="javascript:;">Android</a></li>
								<li><a href="javascript:;">iOS</a></li>
								<li><a href="javascript:;">Exchanges</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="page-header__nav-card">
					<div class="page-header__nav-heading">
						<div class="page-header__nav-title">Developers</div>
						<svg width="11" height="6">
							<use xlink:href="#language_arrow"></use>
						</svg>
					</div>
					<div class="page-header__nav-collapse">
						<div class="page-header__nav-body">
							<ul>
								<li><a href="javascript:;">Source code</a></li>
								<li><a href="javascript:;">Dapps IDE</a></li>
								<li><a href="javascript:;">Api for services</a></li>
								<li><a href="javascript:;">Api for exchanges</a></li>
								<li><a href="javascript:;">Grants</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="page-header__nav-card">
					<div class="page-header__nav-heading">
						<a href="javascript:;" class="page-header__nav-title">DApps</a>
					</div>
				</div>
				<div class="page-header__nav-card">
					<div class="page-header__nav-heading">
						<div class="page-header__nav-title">News</div>
						<svg width="11" height="6">
							<use xlink:href="#language_arrow"></use>
						</svg>
					</div>
					<div class="page-header__nav-collapse">
						<div class="page-header__nav-body">
							<ul>
								<li><a href="javascript:;">Forsa news</a></li>
								<li><a href="javascript:;">Blog</a></li>
								<li><a href="javascript:;">Grants for authors</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="page-header__nav-card">
					<div class="page-header__nav-heading">
						<div class="page-header__nav-title">Community</div>
						<svg width="11" height="6">
							<use xlink:href="#language_arrow"></use>
						</svg>
					</div>
					<div class="page-header__nav-collapse">
						<div class="page-header__nav-body">
							<ul>
								<li><a href="javascript:;">Bitcointalk Ann</a></li>
								<li><a href="javascript:;">Telegram Official Chanel</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<a href="javascript:;" class="btn btn--explorer">Explorer</a>
		</div>
		<div class="page-header__wrapper">
			<a href="index.html" class="page-header__logo"><img src="img/logo.png" alt=""></a>
			<nav class="page-header__nav">
				<ul>
					<li>
						<a href="javascript:;" class="page-header__nav-link--first">Technology</a>
						<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative">
							<div class="jq-dropdown-menu">
								<a href="javascript:;">Blockchain</a>
								<a href="javascript:;">Sharding</a>
								<a href="javascript:;">TERAhash</a>
								<a href="javascript:;">Network Map</a>
								<a href="javascript:;">Explorer</a>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:;" class="page-header__nav-link--second">Documents</a>
						<div id="jq-dropdown-2" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative">
							<div class="jq-dropdown-menu">
								<a href="javascript:;">Technical Specifications</a>
								<a href="javascript:;">Whitepaper</a>
								<a href="javascript:;">Onepage</a>
								<a href="javascript:;">Roadmap</a>
								<a href="javascript:;">DApp paper</a>
								<a href="javascript:;">Constants</a>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:;" class="page-header__nav-link--third">Get Forsa</a>
						<div id="jq-dropdown-3" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative">
							<div class="jq-dropdown-menu">
								<a href="javascript:;">Mining</a>
								<a href="javascript:;">Full mode</a>
								<a href="javascript:;">Web wallet</a>
								<a href="javascript:;">Android</a>
								<a href="javascript:;">iOS</a>
								<a href="javascript:;">Exchanges</a>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:;" class="page-header__nav-link--fourth">Developers</a>
						<div id="jq-dropdown-4" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative">
							<div class="jq-dropdown-menu">
								<a href="javascript:;">Source code</a>
								<a href="javascript:;">Dapps IDE</a>
								<a href="javascript:;">Api for services</a>
								<a href="javascript:;">Api for exchanges</a>
								<a href="javascript:;">Grants</a>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:;">DApps</a>
					</li>
					<li>
						<a href="javascript:;" class="page-header__nav-link--fifth">News</a>
						<div id="jq-dropdown-5" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-left">
							<div class="jq-dropdown-menu">
								<a href="javascript:;">Forsa news</a>
								<a href="javascript:;">Blog</a>
								<a href="javascript:;">Grants for authors</a>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:;" class="page-header__nav-link--sixth">Community</a>
						<div id="jq-dropdown-6" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-left">
							<div class="jq-dropdown-menu">
								<a href="javascript:;">Bitcointalk Ann</a>
								<a href="javascript:;">Telegram Official Chanel</a>
							</div>
						</div>
					</li>
				</ul>
			</nav>
			<a href="javascript:;" class="btn btn--explorer">Explorer</a>
			<a href="javascript:;" id="menu-toggle" class="page-header__toggle"><span></span></a>
		</div>
	</div>
</header>
