<header class="page-header">
	<div class="page-header__top-part">
		<div class="container">
			<div class="page-header__top-wrapper">
				<div class="page-header__top-description">Forsa will take part in the Blockchain Life 2020 conference</div>
				<a href="javascript:;" class="page-header__toggle-language" data-jq-dropdown="#jq-dropdown-7"><span>English</span><img src="img/header-arrow.png" alt=""></a>
				<div id="jq-dropdown-7" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right">
					<div class="jq-dropdown-menu">
						<a href="javascript:;">Japanese</a>
						<a href="javascript:;">French</a>
						<a href="javascript:;">Spanish</a>
						<a href="javascript:;">Indonesian</a>
						<a href="javascript:;">Russian</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header__bottom-part">
		<div class="container">
			<div class="page-header__menu" id="header-menu">
				<a href="javascript:;" id="menu-toggle-active" class="page-header__toggle"><span></span></a>
				<div class="page-header__top-description">Forsa will take part in the Blockchain <br> Life 2020 conference</div>
				<a href="javascript:;" class="page-header__menu-toggle-languages" data-jq-dropdown="#jq-dropdown-8">
					<span>Eng</span>
					<svg width="11" height="6">
						<use xlink:href="#language_arrow"></use>
					</svg>
				</a>
				<div id="jq-dropdown-8" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-left">
					<div class="jq-dropdown-menu">
						<a href="javascript:;">Rus</a>
						<a href="javascript:;">Fra</a>
						<a href="javascript:;">Por</a>
						<a href="javascript:;">Ger</a>
					</div>
				</div>
				<div class="page-header__nav-block">
					<div class="page-header__nav-card">
						<div class="page-header__nav-heading">
							<div class="page-header__nav-title">Technology</div>
							<svg width="11" height="6">
								<use xlink:href="#language_arrow"></use>
							</svg>
						</div>
						<div class="page-header__nav-collapse">
							<div class="page-header__nav-body">
								<ul>
									<li><a href="javascript:;">Blockchain</a></li>
									<li><a href="javascript:;">Sharding</a></li>
									<li><a href="javascript:;">TERAhash</a></li>
									<li><a href="javascript:;">Network Map</a></li>
									<li><a href="javascript:;">Explorer</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="page-header__nav-card">
						<div class="page-header__nav-heading">
							<div class="page-header__nav-title">Documents</div>
							<svg width="11" height="6">
								<use xlink:href="#language_arrow"></use>
							</svg>
						</div>
						<div class="page-header__nav-collapse">
							<div class="page-header__nav-body">
								<ul>
									<li><a href="javascript:;">Blockchain</a></li>
									<li><a href="javascript:;">Sharding</a></li>
									<li><a href="javascript:;">TERAhash</a></li>
									<li><a href="javascript:;">Network Map</a></li>
									<li><a href="javascript:;">Explorer</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="page-header__nav-card">
						<div class="page-header__nav-heading">
							<div class="page-header__nav-title">Get Forsa</div>
							<svg width="11" height="6">
								<use xlink:href="#language_arrow"></use>
							</svg>
						</div>
						<div class="page-header__nav-collapse">
							<div class="page-header__nav-body">
								<ul>
									<li><a href="javascript:;">Blockchain</a></li>
									<li><a href="javascript:;">Sharding</a></li>
									<li><a href="javascript:;">TERAhash</a></li>
									<li><a href="javascript:;">Network Map</a></li>
									<li><a href="javascript:;">Explorer</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="page-header__nav-card">
						<div class="page-header__nav-heading">
							<div class="page-header__nav-title">Developers</div>
							<svg width="11" height="6">
								<use xlink:href="#language_arrow"></use>
							</svg>
						</div>
						<div class="page-header__nav-collapse">
							<div class="page-header__nav-body">
								<ul>
									<li><a href="javascript:;">Blockchain</a></li>
									<li><a href="javascript:;">Sharding</a></li>
									<li><a href="javascript:;">TERAhash</a></li>
									<li><a href="javascript:;">Network Map</a></li>
									<li><a href="javascript:;">Explorer</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="page-header__nav-card">
						<div class="page-header__nav-heading">
							<div class="page-header__nav-title">DApps</div>
							<svg width="11" height="6">
								<use xlink:href="#language_arrow"></use>
							</svg>
						</div>
						<div class="page-header__nav-collapse">
							<div class="page-header__nav-body">
								<ul>
									<li><a href="javascript:;">Blockchain</a></li>
									<li><a href="javascript:;">Sharding</a></li>
									<li><a href="javascript:;">TERAhash</a></li>
									<li><a href="javascript:;">Network Map</a></li>
									<li><a href="javascript:;">Explorer</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="page-header__nav-card">
						<div class="page-header__nav-heading">
							<div class="page-header__nav-title">News</div>
							<svg width="11" height="6">
								<use xlink:href="#language_arrow"></use>
							</svg>
						</div>
						<div class="page-header__nav-collapse">
							<div class="page-header__nav-body">
								<ul>
									<li><a href="javascript:;">Blockchain</a></li>
									<li><a href="javascript:;">Sharding</a></li>
									<li><a href="javascript:;">TERAhash</a></li>
									<li><a href="javascript:;">Network Map</a></li>
									<li><a href="javascript:;">Explorer</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="page-header__nav-card">
						<div class="page-header__nav-heading">
							<div class="page-header__nav-title">Community</div>
							<svg width="11" height="6">
								<use xlink:href="#language_arrow"></use>
							</svg>
						</div>
						<div class="page-header__nav-collapse">
							<div class="page-header__nav-body">
								<ul>
									<li><a href="javascript:;">Blockchain</a></li>
									<li><a href="javascript:;">Sharding</a></li>
									<li><a href="javascript:;">TERAhash</a></li>
									<li><a href="javascript:;">Network Map</a></li>
									<li><a href="javascript:;">Explorer</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<a href="javascript:;" class="btn btn--explorer">Explorer</a>
			</div>
			<div class="page-header__wrapper">
				<a href="index.html" class="page-header__logo"><img src="img/logo.png" alt=""></a>
				<nav class="page-header__nav">
					<ul>
						<li>
							<a href="javascript:;" data-jq-dropdown="#jq-dropdown-1">Technology</a>
							<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative">
								<div class="jq-dropdown-menu">
									<a href="javascript:;">Technical Specifications</a>
									<a href="javascript:;">Whitepaper</a>
									<a href="javascript:;">Onepage</a>
									<a href="javascript:;">Roadmap</a>
									<a href="javascript:;">DApp paper</a>
									<a href="javascript:;">Constants</a>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:;" data-jq-dropdown="#jq-dropdown-2">Documents</a>
							<div id="jq-dropdown-2" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative">
								<div class="jq-dropdown-menu">
									<a href="javascript:;">Technical Specifications</a>
									<a href="javascript:;">Whitepaper</a>
									<a href="javascript:;">Onepage</a>
									<a href="javascript:;">Roadmap</a>
									<a href="javascript:;">DApp paper</a>
									<a href="javascript:;">Constants</a>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:;" data-jq-dropdown="#jq-dropdown-3">Get Forsa</a>
							<div id="jq-dropdown-3" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative">
								<div class="jq-dropdown-menu">
									<a href="javascript:;">Technical Specifications</a>
									<a href="javascript:;">Whitepaper</a>
									<a href="javascript:;">Onepage</a>
									<a href="javascript:;">Roadmap</a>
									<a href="javascript:;">DApp paper</a>
									<a href="javascript:;">Constants</a>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:;" data-jq-dropdown="#jq-dropdown-4">Developers</a>
							<div id="jq-dropdown-4" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative">
								<div class="jq-dropdown-menu">
									<a href="javascript:;">Technical Specifications</a>
									<a href="javascript:;">Whitepaper</a>
									<a href="javascript:;">Onepage</a>
									<a href="javascript:;">Roadmap</a>
									<a href="javascript:;">DApp paper</a>
									<a href="javascript:;">Constants</a>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:;" data-jq-dropdown="#jq-dropdown-5">DApps</a>
							<div id="jq-dropdown-5" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right">
								<div class="jq-dropdown-menu">
									<a href="javascript:;">Technical Specifications</a>
									<a href="javascript:;">Whitepaper</a>
									<a href="javascript:;">Onepage</a>
									<a href="javascript:;">Roadmap</a>
									<a href="javascript:;">DApp paper</a>
									<a href="javascript:;">Constants</a>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:;" data-jq-dropdown="#jq-dropdown-6">Community</a>
							<div id="jq-dropdown-6" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right">
								<div class="jq-dropdown-menu">
									<a href="javascript:;">Technical Specifications</a>
									<a href="javascript:;">Whitepaper</a>
									<a href="javascript:;">Onepage</a>
									<a href="javascript:;">Roadmap</a>
									<a href="javascript:;">DApp paper</a>
									<a href="javascript:;">Constants</a>
								</div>
							</div>
						</li>
					</ul>
				</nav>
				<a href="javascript:;" class="btn btn--explorer">Explorer</a>
				<a href="javascript:;" id="menu-toggle" class="page-header__toggle"><span></span></a>
			</div>
		</div>
	</div>
</header>
