@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('ProximaNova Regular'), local('ProximaNova-Regular'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local('ProximaNova SemiBold'), local('ProximaNova-SemiBold'),
        url('../fonts/ProximaNova-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ProximaNova-SemiBold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('ProximaNova Bold'), local('ProximaNova-Bold'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ProximaNova-Bold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('GothamPro Bold'), local('GothamPro-Bold'),
        url('../fonts/GothamPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/GothamPro-Bold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: local('ProximaNova ExtraBold'), local('ProximaNova-ExtraBold'),
        url('../fonts/ProximaNova ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ProximaNova ExtraBold.woff') format('woff'), /* Modern Browsers */
}