@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ProximaNova-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/ProximaNova-SemiBold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'MyriadPro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/MyriadPro-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/MyriadPro-SemiBold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/ProximaNova-Bold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/GothamPro-Bold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/ProximaNova-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ProximaNova-ExtraBold.woff') format('woff'), /* Modern Browsers */
}