
.container {
	margin: 0 auto;
	min-width: 320px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.text-input {
	border: none;
	outline: none !important;
	-webkit-appearance: none;
	background: none;
	overflow: hidden;
	line-height: normal;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	font-family: 'ProximaNova', sans-serif;
	border-radius: 17px;
	border: 1px solid #b8b8b8;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 6px;
	width: 100%;
	background-color: #fff;

	&:-moz-placeholder {
		color: #879ea7;
	}
	&::-moz-placeholder { 
		color: #879ea7;
	}
	&:-ms-input-placeholder { 
		color: #879ea7;
	}
	&::-webkit-input-placeholder {
		color: #879ea7;
	}
}

.btn {
	position: relative;
	outline: none !important;
	border: none;
	cursor: pointer;
	text-decoration: none !important;
	-webkit-appearance: none;
	display: block;
	width: auto;
	text-align: center;
	border-radius: 4px;
	color: #fff;
	background: linear-gradient(to top, #564ae2, #2484ee);
	font-family: 'ProximaNova', sans-serif;
	font-size: 17px;
	letter-spacing: 0.025em;
	font-weight: 600;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 16px;
	backface-visibility: hidden;
	border: none;
	vertical-align: middle;
	transition: all 0.3s ease-in-out;
	> * {
		line-height: 1;
	}
	&:hover {
		color: #fff;
		box-shadow: none;
		text-decoration: none;
		background: linear-gradient(to top, #2f97f0, #473dbe);
	}
	&:active, &:focus {
		box-shadow: none;
		background: #4842b4;
	}
	&:active,
	&:focus,
	&:hover {
		text-decoration: none !important;
		outline: none !important;
	}
}

@mixin for-size($size) {
  @if $size == mobile {
    @media (max-width: 767px) { @content; }
  } @else if $size == tablet {
    @media (min-width: 768px) and (max-width: 1199px) { @content; }
  } @else if $size == desktop {
    @media (min-width: 1200px) and (max-width: 1439px) { @content; }
  }
}



@include for-size(mobile) {
	.container {
		max-width: 767px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@include for-size(tablet) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@include for-size(desktop) {
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (min-width: 1390px) {
	.container {
		width: 100%;
		max-width: 1390px;
		padding-left: 0;
		padding-right: 0;
	}
}


